numpy
scipy
matplotlib
tqdm
pillow
torchvision
torch >= 1.7.0
wget
ipython
ipykernel
kornia
albumentations
tensorboard
pytorch-lightning
pyyaml>=5.4.1
-e git+https://github.com/MisterMap/liegroups.git#egg=liegroups
clearml