numpy
scipy
matplotlib
tqdm
pillow
torchvision
torch
wget
ipython
pandas
mlflow
kornia
albumentations
tensorboard
boto3
setuptools
wheel
grpcio
pytorch-lightning
-e git://github.com/MisterMap/liegroups.git#egg=elasticutils
