numpy
scipy
matplotlib
tqdm
pillow
torchvision
torch
wget
ipython
pandas
mlflow
kornia
albumentations
tensorboard
boto3
setuptools
wheel
grpcio
pytorch-lightning
dvc
dvc[gdrive]
pyyaml>=5.4.1
-e git://github.com/MisterMap/liegroups.git#egg=liegroups